* {
  box-sizing: border-box;
}

/* Mengatur font dan background halaman */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #280872;
}

/* Membuat container menjadi layout flexbox dan kotak login di tengah */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Mengatur kotak form login lebar 400px dan background putih */
.login-box {
  margin-top: 150px;
  flex-basis: 400px;
  background: #fff;
  padding: 20px;
}

/* Mengatur judul form dengan border bawah dan posisi di tengah */
.login-box h2 {
  border-bottom: 1px solid #ccc;
  color: #555;
  text-align: center;
  padding-bottom: 30px;
  margin: 0 0 20px 0;
}

/* Mengatur input dan select agar memenuhi container */
input, select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
}

/* Mengatur tampilan tombol submit */
input[type=submit] {
  background-color: #280872;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #330b8f;
  font-weight: bold;
}

/* Mengatur desain header */
header {
  background: #280872;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
}

/* Mengatur lebar menu 20% dengan background hitam */
aside {
  flex: 20%;
  background: #222;
}

/* Mengatur lebar konten utama 80% dengan background putih */
section.main {
  flex: 80%;
  background: #fff;
  min-height: 530px;
  padding: 15px 20px;
  flex-grow: 1;
}

/* Mengatur footer dengan background abu-abu dan teks di tengah */
footer {
  background: #ccc;
  color: #555;
  padding: 20px;
  text-align: center;
}

/* Layout responsif untuk layar kecil */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

/* Navigasi */
/* Menghapus padding pada ul */
.menu {
  padding: 0;
}

/* Menambahkan border bawah pada li */
.menu li {
  border-bottom: 1px dotted #444;
}

/* Mengatur desain menu */
.menu a {
  display: block;
  padding: 20px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

/* Mengganti background menu saat hover */
.menu a:hover {
  background: #000;
}
